

<!-- *** CONTACT START *** -->
<div id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page_title">21 BDAY</h1>
        <h2 class="page_subtitle">Sign up for a 21 bday party</h2>
        <div class="page_line"></div>
    



        </div>
      </div><!--col-sm-12-->
      <div class="col-sm-12">
        <h3>Send us a message</h3>
      </div>


        <div id="response">


          <form method="post" class="reply-input" action="send.php">
            <div class="col-sm-6">
            <div class="input-block">
              <input type="text" name="name" id="comment-name" required="" value="Your name (required)" onblur="if(this.value=='')this.value='Your name (required)'" onfocus="if(this.value=='Your name (required)')this.value=''"/>

            </div>

            <div class="input-block">
              <input type="email" name="email" id="comment-email" required="" value="Your email (required)" onblur="if(this.value=='')this.value='Your email (required)'" onfocus="if(this.value=='Your email (required)')this.value=''"/>

            </div>

            <div class="input-block">
              <input type="text" name="website" id="comment-url" value="Your Birthday" onblur="if(this.value=='')this.value='Your website'" onfocus="if(this.value=='Your website')this.value=''"/>

            </div>

            <div class="clear"></div>

          </div>

          <div class="col-sm-6">

            <div class="textarea-block">
              <textarea name="message" id="comment-message" cols="88" rows="8" required="" onblur="if(this.value=='')this.value='Your message'"
onfocus="if(this.value=='Your message')this.value=''">Your message</textarea>
              <div class="clear"></div>
            </div>

            <input class="submit_buttom" type="submit" value="Submit">
          </div>
          </form>

        </div><!--response-->



    </div><!--row-->
  </div>
</div>
<!-- *** CONTACT END *** -->
