<!-- *** ABOUT US START *** -->
<div id="about_us" class="section">
  <div class="container">
    <div class="row">


      <div class="col-sm-12">
      <br>
      <h1 class="page_title">ABOUT US</h1>
      </div><!--col-sm-12-->

        <!-- <div class="team_container">


            <div class="col-sm-3">
              <div class="team_img_container" style="background-image: url(http://placehold.it/640x480);"></div>
              <div class="team_description">
                <h3>Mike Ruth</h3>
                <p>Seo</p>
                <div class="social">
                  <ul>
                    <li><a href="#"><i class="fa_icon icon-pinterest icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-skype icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-twitter icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-dribbble icon-2x"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="team_img_container" style="background-image: url(http://placehold.it/640x480);"></div>
              <div class="team_description">
                <h3>Orman Wayne</h3>
                <p>Developer</p>
                <div class="social">
                  <ul>
                    <li><a href="#"><i class="fa_icon icon-pinterest icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-skype icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-twitter icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-dribbble icon-2x"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="team_img_container" style="background-image: url(http://placehold.it/640x480);"></div>
              <div class="team_description">
                <h3>Diana Wisman</h3>
                <p>Creative Designer</p>
                <div class="social">
                  <ul>
                    <li><a href="#"><i class="fa_icon icon-pinterest icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-skype icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-twitter icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-dribbble icon-2x"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="team_img_container" style="background-image: url(http://placehold.it/640x480);"></div>
              <div class="team_description">
                <h3>Mike Brother</h3>
                <p>Office Manager</p>
                <div class="social">
                  <ul>
                    <li><a href="#"><i class="fa_icon icon-pinterest icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-skype icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-twitter icon-2x"></i></a></li>
                    <li><a href="#"><i class="fa_icon icon-dribbble icon-2x"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

        </div><!--team container-->

    </div>
  </div>
</div><!--section-->
<!-- *** ABOUT US END *** -->
