

<!-- *** PRICING END *** -->
<div id="pricing" class="section gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page_title">PRICING</h1>
        <h2 class="page_subtitle">We have a great price</h2>
        <div class="page_line"></div>
      </div>

      <div class="clear"></div>
      <div class="divider"></div>

      <div class="col-sm-4">
        <div class="pricing-table">

          <div class="pricing_header">
                <h1>Gents</h1>
                </div>
               <div class="pricing_sub_header">
                 <h1>$20</h1>
               </div>

          <ul class="features">
            <li>Round Trip Party Bus Transportation</li>
            <li>Several Pickup Locations</li>
            <li>Drinks on the Party Bus</li>
            <li>VIP Entrance</li>
            <li>No Cover</li>
          </ul><!-- end .features -->

          <div class="pricing_footer">
                  <h3><a href="#/tickets"><col-sm->See Tickets</col-sm-></a></h3>
                </div>

        </div>
      </div><!--col-sm-4-->

      <div class="col-sm-4">
        <div class="pricing-table">

          <div class="pricing_header">
                <h1>Womens</h1>
                </div>
               <div class="pricing_sub_header">
                 <h1>$10</h1>
               </div>

          <ul class="features">
            <li>Round Trip Party Bus Transportation</li>
            <li>Several Pickup Locations</li>
            <li>Drinks on the Party Bus</li>
            <li>VIP Entrance</li>
            <li>No Cover</li>
          </ul><!-- end .features -->

          <div class="pricing_footer">
                  <h3><a href="#/tickets"><col-sm->See Tickets</col-sm-></a></h3>
                </div>

        </div>
      </div><!--col-sm-4-->

      <div class="col-sm-4">
        <div class="pricing-table color">

          <div class="pricing_header">
                <h1>GROUPS</h1>
                </div>
               <div class="pricing_sub_header">
                 <h1>Price Varies</h1>
               </div>

          <ul class="features">
            <li>Round Trip Party Bus Transportation</li>
            <li>Several Pickup Locations</li>
            <li>Drinks on the Party Bus</li>
            <li>VIP Entrance</li>
            <li>No Cover</li>
          </ul><!-- end .features -->

          <div class="pricing_footer">
                  <h3><a href="#/contact"><col-sm->Contact Us</col-sm-></a></h3>
                </div>

        </div>
      </div><!--col-sm-4-->

    </div><!--row-->
  </div><!--container-->
</div>
<!-- *** PRICING END *** -->
