


<!-- *** SERVICES START *** -->
<div id="services" class="section gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page_title">Services</h1>
        <h2 class="page_subtitle">Your fun is our fun</h2>
        <div class="page_line"></div>
      </div>

      <div class="clear"></div>
      <div class="divider"></div>

      <div class="services_icon_container hi-icon-effect-1 hi-icon-effect-1a">
        <div class="col-sm-6">
          <div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-align-justify icon-3x"></i></a></div>


          <br>
          <br>
        
          <h2 class="uppercase">ALL GIRLS VEGAS TRIPS</h2>
        </div><!--col-sm-6-->
        <div class="col-sm-6">
          <div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-star icon icon-3x"></i></a></div>
           <br>
          <br>
          <h2 class="uppercase">18+ EVENTS</h2>
         
        </div><!--col-sm-6-->
        <div class="clear"></div>


        <div class="col-sm-6">
          <div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-apple icon-3x"></i></a></div>
           <br>
          <br>
          <h2 class="uppercase">PARTY BUS THURSDAY THROUGH SATURDAY</h2>
         
        </div><!--col-sm-6-->
        <div class="col-sm-6">
          <div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-rocket icon-3x"></i></a></div>
           <br>
          <br>
          <h2 class="uppercase">INTERNATIONALS</h2>
        
        </div><!--col-sm-6-->
        <div class="clear"></div>


        <div class="col-sm-6">
          <div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon  icon-html5 icon-3x"></i></a></div>
           <br>
          <br>
          <h2 class="uppercase">21Bday</h2>
       
        </div><!--col-sm-6-->
        <div class="col-sm-6">
          <div class="icon_wrapper"><a href="#" class="hi-icon"><i class="fa_icon icon-envelope-alt icon-3x"></i></a></div>
           <br>
          <br>
          <h2 class="uppercase">PARTY IN MEXICO</h2>
          
        </div><!--col-sm-6-->
        <div class="clear"></div>

      </div><!--icon_container-->

    </div>
  </div>
</div><!--services-->
<!-- *** SERVICES END *** -->
