

<!-- *** BLOG START *** -->
<div id="blog" class="section gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page_title">Tickets</h1>
        <h2 class="page_subtitle">Don't miss our events</h2>
        <div class="page_line"></div>
      </div>

      <div class="clear"></div>
      <div class="divider"></div>

      <div class="blog_container">
        <div class="col-sm-12">
          <h1> FLUXX FRIDAY EVERY FRIDAY  </h1>
          <div class="blog-item">
              <div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=10306756787&ref=etckt" frameborder="0" height="339" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://fluxxfriday.eventbrite.com/?ref=etckt">Abyss w/ DJ E-Rock @ FLUXX</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
             
                
                  <div class="clear"></div>
                </div><!--metas-->
              </div>
            </div><!--blog-item-->  <br>  
 <div class="blog_container">
        <div class="col-sm-12">
        <h1> SATURDAYS INVITE ONLY </h1>
<div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=10307310443&ref=etckt" frameborder="0" height="339" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://fluxxsaturday.eventbrite.com/?ref=etckt">Abyss w/ Sid Vicious @ FLUXX</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
</div></div>

<h1>VEGAS TRIPS</h1>
<a href="https://www.eventbrite.com/e/xiv-vegas-sessions-hosted-by-ladies-vip-tickets-11276962699?ref=ebtnebtckt" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=11276962699" alt="Eventbrite - XIV VEGAS SESSIONS HOSTED BY LADIES VIP" /></a>
             
        </div><!--col-sm-4-->

      </div><!--blog-container-->

    </div><!--row-->
  </div><!--container-->
</div>
<!-- *** BLOG START *** -->
